.blue-rectangle {
    border: 2px solid blue;
    width: 900px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.gray-square {
    width: 300px;
    height: 250px;
    background-color: rgb(185, 179, 179);
    position: relative;
}

.red-dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.contenido1{
    width: 300px;
    height: 250px;
    background-color: rgb(189, 162, 162);
    position: relative;
}